:root {
  --main-black-color: #212121;
  --secondary-black-color: black;
  --text-color: #757575;
  --accent-color-blue: #2196F3;
  --accent-color-white: #FFFFFF;
  --extra-blue: #188CE8;
  --bg-dark: #2F303A;
  --bg-light: #F5F4FA;
  --address-color: rgba(255, 255, 255, 0.6);
  --main-font-family: Roboto, sans-serif;
  --border-line: #ECECEC;
  --icon-color: #AFB1B8;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--accent-color-white);
  color: var(--main-black-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

h1, h2, h3, h3, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: var(--main-black-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icon {
  transition: fill 250ms var(--main-timing-function);
}

.social-icon_theme-light {
  fill: var(--icon-color);
  transition: fill 250ms var(--main-timing-function);
}
.social-link:hover .social-icon_theme-light {
  fill: var(--accent-color-white);
}

.social-link_theme-light {
  transition: background-color 250ms var(--main-timing-function);
}

.social-link_theme-light:hover,
.social-link_theme-light:focus {
  background-color: var(--accent-color-blue);
}

.social-icon_theme-dark {
  fill: var(--accent-color-white);
}

.social-link_theme-dark {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--main-timing-function);
}
.social-link_theme-dark:hover, .social-link_theme-dark:focus {
  background-color: var(--accent-color-blue);
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color-blue);
  padding-top: 24px;
  padding-bottom: 25px;
}

.part-logo {
  color: var(--secondary-black-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 48, 58, 0.4);
  opacity: 1;
  transition: opacity 500ms var(--main-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--accent-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--main-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--main-timing-function);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--accent-color-blue);
}

.form-modal {
  padding: 40px;
}

.title-modal {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.contact-wrapper {
  position: relative;
  margin-bottom: 28px;
}

.icon-contact-wrapper {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--main-timing-function);
}
.input-modal:hover ~ .icon-contact-wrapper, .input-modal:focus ~ .icon-contact-wrapper {
  fill: var(--accent-color-blue);
}

.input-modal {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms var(--main-timing-function);
}
.input-modal:hover, .input-modal:focus {
  outline: none;
  border: 1px solid var(--accent-color-blue);
}

.label-modal {
  position: absolute;
  top: -18px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.checkbox-modal + .label-modal {
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.comment-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.modal-comment {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--main-timing-function);
}
.modal-comment:hover, .modal-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color-blue);
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--main-black-color);
  border-radius: 15%;
}
.checkbox-modal:checked + .checkbox-label::before {
  background-image: url("../images/icons/icon-check.svg");
  background-size: cover;
  border: var(--accent-color-blue);
}
.checkbox-modal:focus + .checkbox-label::before {
  border: 1px solid #212121;
}

.policy-link {
  color: var(--accent-color-blue);
}

.submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--accent-color-blue);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--main-timing-function);
}
.submit-btn:hover, .submit-btn:focus {
  outline: none;
  background-color: var(--extra-blue);
}

.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid var(--border-line);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link.current {
  color: var(--accent-color-blue);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-black-color);
  transition: color 250ms var(--main-timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color-blue);
}

.nav-link.current {
  position: relative;
}

.nav-list:not(:last-child) {
  margin-right: 50px;
}

.nav-link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color-blue);
  border-radius: 2px;
}

.nav-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-contact-item:not(:last-child) {
  margin-right: 30px;
}

.nav-contact .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon-link {
  display: flex;
  align-items: center;
  padding: 32px o;
  transition: color 250ms var(--main-timing-function);
}
.icon-link:hover, .icon-link:focus {
  color: var(--accent-color-blue);
}

.contact-icon {
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--main-timing-function);
}
.contact-icon:hover, .contact-icon:focus {
  fill: var(--accent-color-blue);
}
.icon-link:hover .contact-icon {
  fill: var(--accent-color-blue);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-size: cover;
  background-color: #C4C4C4;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-white);
}

.button {
  display: inline-block;
  padding: 10px 22px;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color-blue);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color-blue);
  cursor: pointer;
  transition: color 250ms var(--main-timing-function), background-color 250ms var(--main-timing-function);
}
.button:hover, .button:focus {
  color: var(--accent-color-white);
  background-color: var(--extra-blue);
  cursor: pointer;
}

.feautures-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-light);
  border-radius: 4px;
}

.feautures-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -30px;
  margin-left: -30px;
}

.feautures-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.title-feautures {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-feautures {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about {
  padding-top: 0;
}

.about-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.about-item {
  position: relative;
  margin-left: 30px;
  width: calc((100% - 90px) / 3);
}

.wrapper-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.image-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-white);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bg-light);
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.team-wrapper {
  /* display: block */
  padding: 30px 0;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--accent-color-white);
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-socials {
  padding: 0 32px;
  /* margin-bottom: 30px; */
}

.team__social-list {
  display: flex;
  justify-content: space-between;
}

.clients-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border 250ms var(--main-timing-function);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color-blue);
}

.clients-icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--main-timing-function);
}
.clients-link:hover .clients-icon {
  fill: var(--accent-color-blue);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark);
}

.footer-contacts {
  margin-right: 70px;
}

.logo-wrapper {
  margin-bottom: 20px;
}

.footer .part-logo {
  color: var(--accent-color-white);
}

.address-link {
  color: var(--address-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--main-timing-function);
}
.address-link:hover, .address-link:focus {
  color: var(--accent-color-blue);
}

.address-link-font-white {
  color: var(--accent-color-white);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-socials {
  min-width: 206px;
}

.socials-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--accent-color-white);
}

.footer-socials .social-list {
  display: flex;
  justify-content: space-between;
}

.subscribe-wrapper {
  /* width: 100%; */
  margin-left: auto;
}

.subscribe-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-white);
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-input:focus {
  color: var(--accent-color-white);
}

.subscribe-btn {
  display: block;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  transition: box-shadow 250ms var(--main-timing-function);
  cursor: pointer;
}

.subscribe-icon {
  fill: var(--accent-color-white);
  margin-left: 10px;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.gallery-link:not(:last-child) {
  margin-right: 8px;
}

.gallery-button {
  display: inline-block;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: inherit;
  background-color: var(--bg-light);
  transition: color 250ms var(--main-timing-function), background-color 250ms var(--main-timing-function);
}
.gallery-button:hover, .gallery-button:focus {
  color: var(--accent-color-white);
  background-color: var(--accent-color-blue);
}

.portfolio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--main-timing-function);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  opacity: 1;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--main-timing-function);
}
.portfolio-link:hover .image-overlay, .portfolio-link:focus .image-overlay {
  transform: translateY(0);
}

.text-image-overlay {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-color-white);
}

.portfolio .text-wrapper {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */